@font-face {
  font-family: 'Redacted Script';
  src: url('../fonts/RedactedScript-Light.ttf') format('truetype');
}
/* just an example of how to load a local true-type font */
.redacted {
    font-family: 'Redacted Script', cursive;
font-size:2rem;
}
body{
--my-brand-color: green;
}

.myplaceholder {
    height:33.33vh;
    background:#eee;
}

.gradient-teaser {
border-radius:10px;
background: linear-gradient(180deg, #FFF -33.89%, #4C94E9 140.39%);
}
a.navbar-brand img {
    height:50px;
}
a.active {
    border-bottom:1px dotted orange;
}

h1 {
 
font-family: 'Karla', sans-serif;
    font-weight: 700;
}
h2,h3 {
font-family: 'Rosario', sans-serif;    
    font-weight: 700;

}
p{
        font-family: 'Overpass', sans-serif;

     font-weight: 300;
   
}
